<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{professor}}</title>
</head>
<body>
    <div id="center">
        Nome: {{itens[0]}} <br>
        Aniversario: {{itens[1]}} <br>
        Nome da Mae: {{itens[2]}} <br>
        Titulo: {{itens[3]}} <br>
        Leciona: {% for i in materias%} {{i[0]}} {% endfor %}
        <a href="/calcularSalarioProfessor/{{itens[0]}}">Calcular Salário</a>
    </div>
</body>
</html>